
<!-- sous forme de tabs?
evaluation du user
descriptif dans le container (similaire a la show event)
jeux preferes sous forme de card illustrée
amis sous forme de list inline fb
photos
niveau de jeux echelle horizontale
-->

<div class="navbar_myevents">
  <div class="left_side_myevents">
    <div class="tabs">
      <a class="tab active" data-target="#friends">
        <i class="fa fa-users fa-lg" aria-hidden="true"></i>
        <% if current_user.requested_friends.present? %>
         <div class="badge badge-blue"><%= current_user.requested_friends.count%></div>
        <% end %>
        <p class= "hidden-xs">friends</p>
      </a>
      <a class="tab" data-target="#informations">
      <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
        <p class= "hidden-xs">informations</p>
      </a>
      <a class="tab" data-target="#photos">
        <i class="fa fa-picture-o fa-lg" aria-hidden="true"></i>
        <p class= "hidden-xs">photos</p>
      </a>
    </div>
  </div>
  <div class="right_side_myevents">
  </div>
</div>

<div class="container">
  <div class="tab-content" id="friends">
    <% if current_user == @user  %>
      <% if @user.requested_friends.present? %>
        <div class="friends_request">
          <h4>friend requests</h4>
            <ul class= "list-inline">
                <% @user.requested_friends.each do |requested_friend| %>
              <li>
                <div class="mini-card-user">
                  <div class="badg-container">
                    <div class="image-container img-badg">
                      <p><%= cl_image_tag requested_friend.facebook_picture_url, class: "avatar-mega-xl"%></p>
                    </div>
                  </div>
                    <div class="user-infos">
                      <p><%= requested_friend.firstname %></p>
                      <p><%= requested_friend.age %><p>
                      <p><%= requested_friend.gender %></p>
                    </div>
                  <% if @user == current_user %>
                    <div class="user-selection">
                      <%= link_to user_friendship_path(requested_friend), method: :patch do  %>
                      <i class="fa fa-check-circle fa-3x" style="color: #18b798" aria-hidden="true"></i>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </li>
              <% end %>
            </ul>
        </div>
      <% end %>
    <% end %>
      <div class="friends">
      <h4>your friends</h4>
      <ul class= "list-inline">
        <% @user.friends.each do |friend| %>
        <li>
          <div class="mini-card-user">
            <div class="badg-container">
              <div class="image-container img-badg">
                <p><%= cl_image_tag friend.facebook_picture_url, class: "avatar-mega-xl"%></p>
              </div>
            </div>
            <div class="user-infos">
              <p><%= friend.firstname %></p>
              <p><%= friend.age %><p>
              <p><%= friend.gender %></p>
            </div>
            <% if @user == current_user %>
              <div class="user-selection">
                <%= link_to user_friendship_path(friend), method: :delete do  %>
                <i class="fa fa-times-circle fa-2x" style="color: #f35d5e" aria-hidden="true"></i>
              <% end %>
              </div>
            <% end %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="tab-content hidden" id="informations">
  <div class="user-show-layout">
    <div class="user-info">
      <h1><%= @user.firstname %></h1>
      <p><%=@user.age%> year old</p>
      <p><%=@user.gender%></p>
      <p><%= @user.email %></p>
      <p>member since: <%=@user.created_at.strftime("%d %B %Y") %></p>
      <p><%=@user.address %></p>
    </div>
    <div class="user-pic">
      <p><%= cl_image_tag @user.facebook_picture_url, class: "avatar-mega-xl"%></p>
      <% if current_user != @user %>
        <% if current_user.friends_with?(@user) %>
            <p><%= link_to "remove friend", user_friendship_path(@user), method: :delete %>
         <% else %>
          <p><%= link_to "add friend", user_friendships_path(@user), method: :post %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="user_preferences">
    <% if @category_preferences.present? %>
    <% @category_preferences.each do |category_preference| %>
      <p><%= category_preference.category.name %></p>
      <%= cl_image_tag("003-football_pq494e.png") %>
      <P><%= link_to "Delete", category_preference_path(category_preference), method: :delete, data: { confirm: "Are you sure?" }
      %></p>
      <% end %>
    <% end %>
    <% if @user == current_user %>
      <div class="add_preference">
        <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
      </div>
      <div class="preference_form">
        <%= simple_form_for :category_preferences, url: category_preferences_path do |f| %>
          <%= f.fields_for :category_preferences do |uf| %>
            <% Category.all.each do |category| %>
              <label>
                <%= uf.check_box :category, { multiple: true }, category.id, nil %>
                <p><%= category.name %></p>
              </label>
            <% end %>
              <%= f.submit "save" %>
          <% end %>
        <% end %>
      </div>
  </div>
 <div class="event_type_preferences">
    <% if @current_user.event_type_preferences.present? %>
      <% @event_type_preferences.each do |event_type_preference| %>
      <p><%= event_type_preference.event_type.name %></p>
      <P><%= link_to "Delete", event_type_preference_path(event_type_preference), method: :delete, data: { confirm: "Are you sure?" }
      %></p>
      <% end %>
    <% end %>
  </div>
   <div class="add_event_type_preferences">
        <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
      </div>
      <div class="event_type_preference_form">
        <%= simple_form_for :event_type_preferences, url: event_type_preferences_path do |f| %>
          <%= f.fields_for :event_type_preferences do |uf| %>
            <% EventType.all.each do |event_type| %>
              <label>
                <%= uf.check_box :event_type, { multiple: true }, event_type.id, nil %>
                <p><%= event_type.name %></p>
              </label>
            <% end %>
              <%= f.submit "save" %>
          <% end %>
        <% end %>

      </div>

    <% end %>

</div>


    <div class="tab-content hidden" id="photos">
    </div>

  </div>

