
  <div class="container">


</div>
<!-- sous forme de tabs?
evaluation du user
descriptif dans le container (similaire a la show event)
jeux preferes sous forme de card illustrée
amis sous forme de list inline fb
photos
niveau de jeux echelle horizontale
-->

<div class="navbar_myevents">
    <div class="left_side_myevents">
      <div class="tabs">
        <a class="tab active" data-target="#yourevent">
          <p>Your informations</p>
        </a>
        <a class="tab" data-target="#participation">
          <p>Your friends</p>
        </a>
        <a class="tab" data-target="#cancelled_event">
          <p>your photos</p>
        </a>
      </div>
    </div>
    <div class="right_side_myevents">
    </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="tab-content" id="yourevent">
      <div class="user-show-layout text-center">
        <div class="user-infos">
          <p><%= @user.firstname %></p>
          <p><%=@user.age%> year old</p>
          <p><%=@user.gender%></p>
        </div>
        <div class="user-infos2">
          <p><%= @user.email %></p>
          <p><%=@user.created_at %></p>
          <p><%=@user.address %></p>
        </div>
        <div class="user-pic">
          <p><%= cl_image_tag @user.facebook_picture_url, class: "avatar-xl"%></p>
        </div>
      </div>
    </div>
    <div class="tab-content hidden" id="participation">

    </div>
    <div class="tab-content hidden" id="cancelled_event">

    </div>
  </div>
</div>
