
  <div class="container">


</div>
<!-- sous forme de tabs?
evaluation du user
descriptif dans le container (similaire a la show event)
jeux preferes sous forme de card illustrée
amis sous forme de list inline fb
photos
niveau de jeux echelle horizontale
-->

<div class="navbar_myevents">
    <div class="left_side_myevents">
      <div class="tabs">
        <a class="tab active" data-target="#yourevent">
        <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
          <p class= "hidden-xs">Your informations</p>
        </a>
        <a class="tab" data-target="#participation">
          <i class="fa fa-users fa-lg" aria-hidden="true"></i>
          <p class= "hidden-xs">Your friends</p>
        </a>
        <a class="tab" data-target="#cancelled_event">
          <i class="fa fa-picture-o fa-lg" aria-hidden="true"></i>
          <p class= "hidden-xs">Your photos</p>
        </a>
      </div>
    </div>
  <div class="right_side_myevents">
</div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="tab-content" id="yourevent">
      <div class="user-show-layout">
        <div class="user-info">
          <h1><%= @user.firstname %></h1>
          <p><%=@user.age%> year old</p>
          <p><%=@user.gender%></p>
          <p><%= @user.email %></p>
          <p>member since: <%=@user.created_at.strftime("%d %B %Y") %></p>
          <p><%=@user.address %></p>
        </div>
        <div class="user-pic">
          <p><%= cl_image_tag @user.facebook_picture_url, class: "avatar-mega-xl"%></p>
        </div>
    </div>

    <div class="user_preferences">
      <% if @category_preferences.present? %>
      <% @category_preferences.each do |category_preference| %>
        <p><%= category_preference.category.name %></p>
        <%= cl_image_tag("003-football_pq494e.png") %>
        <P><%= link_to "Delete", category_preference_path(category_preference), method: :delete, data: { confirm: "Are you sure?" }
        %></p>
        <% end %>
      <% end %>
      <div class="add_preference">
      <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
      </div>
    </div>
    <div class="preference_form">
        <%= simple_form_for :category_preferences, url: category_preferences_path do |f| %>
            <%= f.fields_for :category_preferences do |uf| %>

              <% Category.all.each do |category| %>

                <label>
                  <%= uf.check_box :category, { multiple: true }, category.id, nil %>
                  <p><%= category.name %></p>
                </label>

              <% end %>

               <%= f.submit "save" %>
            <% end %>

           <% end %>
      </div>

  </div>
    </div>
    <div class="tab-content hidden" id="participation">

    </div>
    <div class="tab-content hidden" id="cancelled_event">

    </div>
  </div>
</div>
