<div class="wrapper-myevents">
  <div class="navbar_myevents">

      <div class="left_side_myevents">
        <div class="tabs">
          <a class="tab active" data-target="#yourevent">
            <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
            <p class="hidden-xs">events</p>
          </a>
          <a class="tab" data-target="#participations_confirmed">
            <i class="fa fa-hand-pointer fa-lg" aria-hidden="true"></i>
            <p class="hidden-xs">participations</p>
          </a>
          <a class="tab" data-target="#participations_requests">
            <i class="fa fa-question fa-lg" aria-hidden="true"></i>
            <p class="hidden-xs">Pending request</p>
          </a>
          <a class="tab" data-target="#cancelled_event">
            <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
            <p class="hidden-xs">Deleted events</p>
          </a>
        </div>
      </div>
      <div class="right_side_myevents">
      </div>

  </div>
<div class="result-myevents">
  <!-- <div class="container"> -->
    <!-- <div class="row"> -->
     <!--  <div class="col-md-7"> -->
        <div class="tab-content" id="yourevent">
            <% @events.each do |event| %>
            <div class="col-xs-12 col-md-6">
              <div class="card ">
                <div class="card-category">
                  <p><%= event.happen_at.strftime("%A %v") %></p>
                  <div class="time">
                    <p><%= event.happen_at.strftime("%I h %M") %></p>
                  </div>
                  <div class="counter">
                    <p class="count_of_confirmed"><% @count_of_confirmed = event.participations.where(status: "confirmed").count %><p>
                    <p class="remaining_places"><%= event.participant_number - @count_of_confirmed %><i class="fa fa-user fa-lg" aria-hidden="true"></i></p>
                    <p class="count_of_interested"><%= event.participations.where(status: "interested").count%> <i class="fa fa-user fa-lg" aria-hidden="true"></i></p>
                  </div>
                </div>
                <div class="card-user">
                  <%= event.user.firstname %>
                  <%= @count_of_interested %>
                </div>
                <div class="card-description">
                 <p><%= event.event_type.name.capitalize %></p>
                </div>
                <div class="card-address">
                 <p><%= event.address %></p>
                </div>
                 <%= link_to "", event_path(event), class: "card-link" %>
              </div>
            </div>
          <% end %>
        </div>
      <div class="tab-content hidden" id="participations_confirmed">
            <% @participations_confirmed.each do | participations_confirmed, event| %>
              <div class="col-xs-12 col-md-6">
                <div class="card ">
                  <div class="card-category">
                    <p><%=  participations_confirmed.event.happen_at.strftime("%A %v") %></p>
                  <div class="time">
                    <p><%= event.happen_at.strftime("%I h %M") %></p>
                  </div>
                  <div class="counter">
                    <p class="count_of_confirmed"><%= @count_of_confirmed = participations_confirmed.event.participations.where(status: "confirmed").count %><p>
                    <p class="remaining_places"><%= participations_confirmed.event.participant_number - @count_of_confirmed %><i class="fa fa-user fa-lg" aria-hidden="true"></i><p>
                    <p class="count_of_interested"><%= participations_confirmed.event.participations.where(status: "interested").count%> <i class="fa fa-user fa-lg" aria-hidden="true"></i> </p>
                  </div>
                  </div>
                  <div class="card-user">
                    <%=  participations_confirmed.event.user.firstname %>
                  </div>
                  <div class="card-description">
                   <p><%=  participations_confirmed.event.game.capitalize %></p>
                  </div>
                  <div class="card-address">
                   <p><%=  participations_confirmed.event.address %></p>
                  </div>
                   <%= link_to "", event_path(participations_confirmed.event), class: "card-link" %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="tab-content hidden" id="participations_requests">
            <% @participation_demand.each do | participation_demand, event| %>
              <div class="col-xs-12 col-md-6">
                <div class="card ">
                  <div class="card-category">
                    <p><%= participation_demand.event.happen_at.strftime("%A %v") %></p>
                    <div class="time">
                      <p><%= participation_demand.event.happen_at.strftime("%I h %M") %></p>
                    </div>
                    <div class="counter">
                      <p class="count_of_confirmed"><% @count_of_confirmed = participation_demand.event.participations.where(status: "confirmed").count %><p>
                      <p class="remaining_places"><%= participation_demand.event.participant_number - @count_of_confirmed %><i class="fa fa-user fa-lg" aria-hidden="true"></i><p>
                      <p class="count_of_interested"><%= participation_demand.event.participations.where(status: "interested").count%> <i class="fa fa-user fa-lg" aria-hidden="true"></i> </p>
                    </div>
                  </div>
                  <div class="card-user">
                    <%=  participation_demand.event.user.firstname %>
                  </div>
                  <div class="card-description">
                   <p><%= participation_demand.event.event_type.name.capitalize %></p>
                  </div>
                  <div class="card-address">
                   <p><%= participation_demand.event.address %></p>
                  </div>
                   <%= link_to "", event_path(participation_demand.event), class: "card-link" %>
                </div>
              </div>
            <% end %>
          </div>
    <div class="tab-content hidden" id="cancelled_event">
          <% @cancelled_events.each do |cancelled_event| %>
            <div class="col-xs-12 col-md-6">
              <div class="card ">
                <div class="card-category">
                  <p><%= cancelled_event.happen_at.strftime("%A %v") %></p>
                  <div class="time">
                    <p><%= cancelled_event.event.happen_at.strftime("%I h %M") %></p>
                  </div>
                  <div class="counter">
                    <p class="count_of_confirmed"><% @count_of_confirmed = cancelled_events.event.participations.where(status: "confirmed").count %><p>
                    <p class="remaining_places"><%= cancelled_event.event.participant_number - @count_of_confirmed %><i class="fa fa-user fa-lg" aria-hidden="true"></i><p>
                    <p class="count_of_interested"><%= cancelled_event.event.participations.where(status: "interested").count%> <i class="fa fa-user fa-lg" aria-hidden="true"></i> </p>
                  </div>
                </div>
                <div class="card-user">
                  <%= cancelled_event.user.firstname %>
                </div>
                <div class="card-description">
                 <p><%= cancelled_event.game.capitalize %></p>
                </div>
                 <div class="card-address">
                 <p><%= cancelled_event.address %></p>
                </div>
                 <%= link_to "", event_path(cancelled_event), class: "card-link" %>
              </div>
            </div>
          <% end %>
    </div>
<!--   </div> -->
      <div class="myevents-location">
       <!--  <div class="google-map-myevents"> -->
          <div id="map" style="width: 100%; height: 90%;" >
            <% content_for(:after_js) do %>
              <%= javascript_tag do %>
                $(document).ready(function() {
                  var handler = Gmaps.build('Google');
                  handler.buildMap({
                    zoomControl: true,
                    zoomControlPosition: {position: google.maps.ControlPosition.BOTTOM_CENTER
                    },
                  internal: { id: 'map' } }, function() {
                    markers = handler.addMarkers(<%= raw @hash.to_json %>);
                    handler.bounds.extendWith(markers);
                    handler.fitMapToBounds();
                    if (markers.length == 0) {
                      handler.getMap().setZoom(20);
                    } else if (markers.length == 1) {
                      handler.getMap().setZoom(20);
                    }
                  });
                });
              <% end %>
            <% end %>
          </div>
        <!-- </div> -->
      </div>
    <!-- </div> -->
 <!--  </div> -->
</div>
</div>
