<div class="wrapper-myevents">
  <div class="navbar_myevents">

      <div class="left_side_myevents">
        <div class="tabs">
          <a class="tab active" data-target="#yourevent">
            <p>Your events</p>
          </a>
          <a class="tab" data-target="#participation">
            <p>Your participations</p>
          </a>
          <a class="tab" data-target="#cancelled_event">
            <p>Deleted events</p>
          </a>
        </div>
      </div>
      <div class="right_side_myevents">
      </div>

  </div>
<div class="result-myevents">
  <!-- <div class="container"> -->
    <!-- <div class="row"> -->
     <!--  <div class="col-md-7"> -->
        <div class="tab-content" id="yourevent">
            <% @events.each do |event| %>
            <div class="col-xs-12 col-md-6">
              <div class="card ">
                <div class="card-category">
                  <p><%= event.happen_at.strftime("%A %v") %></p>
                </div>
                <div class="card-user">
                  <%= event.user.firstname %>
                </div>
                <div class="card-description">
                 <p><%= event.game.capitalize %></p>
                </div>
                <div class="card-address">
                 <p><%= event.address %></p>
                </div>
                 <%= link_to "", event_path(event), class: "card-link" %>
              </div>
            </div>
          <% end %>
        </div>
      <div class="tab-content hidden" id="participation">
            <% @participations.each do |participation, event| %>
              <div class="col-xs-12 col-md-6">
                <div class="card ">
                  <div class="card-category">
                    <p><%= participation.event.happen_at.strftime("%A %v") %></p>
                  </div>
                  <div class="card-user">
                    <%= participation.event.user.firstname %>
                  </div>
                  <div class="card-description">
                   <p><%= participation.event.game.capitalize %></p>
                  </div>
                  <div class="card-address">
                   <p><%= participation.event.address %></p>
                  </div>
                   <%= link_to "", event_path(participation.event), class: "card-link" %>
                </div>
              </div>
            <% end %>
          </div>
    <div class="tab-content hidden" id="cancelled_event">
          <% @cancelled_events.each do |cancelled_event| %>
            <div class="col-xs-12 col-md-6">
              <div class="card ">
                <div class="card-category">
                  <p><%= cancelled_event.happen_at.strftime("%A %v") %></p>
                </div>
                <div class="card-user">
                  <%= cancelled_event.user.firstname %>
                </div>
                <div class="card-description">
                 <p><%= cancelled_event.game.capitalize %></p>
                </div>
                 <div class="card-address">
                 <p><%= cancelled_event.address %></p>
                </div>
                 <%= link_to "", event_path(cancelled_event), class: "card-link" %>
              </div>
            </div>
          <% end %>
    </div>
<!--   </div> -->
      <div class="myevents-location">
       <!--  <div class="google-map-myevents"> -->
          <div id="map" style="width: 100%; height: 90%;" >
            <% content_for(:after_js) do %>
              <%= javascript_tag do %>
                $(document).ready(function() {
                  var handler = Gmaps.build('Google');
                  handler.buildMap({
                    zoomControl: true,
                    zoomControlPosition: {position: google.maps.ControlPosition.BOTTOM_CENTER
                    },
                  internal: { id: 'map' } }, function() {
                    markers = handler.addMarkers(<%= raw @hash.to_json %>);
                    handler.bounds.extendWith(markers);
                    handler.fitMapToBounds();
                    if (markers.length == 0) {
                      handler.getMap().setZoom(20);
                    } else if (markers.length == 1) {
                      handler.getMap().setZoom(20);
                    }
                  });
                });
              <% end %>
            <% end %>
          </div>
        <!-- </div> -->
      </div>
    <!-- </div> -->
 <!--  </div> -->
</div>
</div>
