
<div class=container>
  <div class=row>
    <div class="container_event_description">
      <div class="col-xs-12 col-md-6">
        <h1><%= @event.game %></h1>
        <h1>an event created by <%=@event.user.firstname + ", " + @event.user.lastname.split(//).first%></h1>
        <h4> occuring the <%=@event.happen_at.strftime("%A %v") %></h4>

        <p> organiser spirit: </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem maxime odit nisi fuga quidem? Perspiciatis voluptatum officiis obcaecati voluptas perferendis debitis, ipsa earum tenetur! Perferendis magnam fuga modi aperiam quas.</p>
      </div>
    </div>
      <div class="container_map_show">
        <div class="col-xs-12 col-md-6">
          <img class="google_map" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @event.address %>&zoom=13&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C<%= @event.address %>&key=<%= ENV['GOOGLE_API_KEY'] %>">
        </div>
      </div>
  </div>
</div>

