<div class="wrapper">
  <div class="container">
    <div class="show-layout">
      <div class="testgrid1">
        <div class="content_show">
            <div class="col-xs-12 banner_head">
              <h1><%= @event.title %></h1>
                <h4><% if @event.canceled_at %>
                <%= "EVENT CANCELLED" %>
                <% else %>
                <% "" %>
                <% end %></h4>
              <div class="eventgame">
                <p><%= @event.game %></p>
              </div>

              <div class="organiser text-center">
                <%= image_tag @event.user.facebook_picture_url, class: "avatar-xl avatar-show" %>
                <p><%=@event.user.firstname + ", " + @event.user.lastname.split(//).first%></p>
                <%= link_to "", user_path(@event.user), class: "card-link" %>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="date text-center">
                  <h4><%=@event.happen_at.strftime("%A %v")%></h4>
                </div>
                <div class="time">
                  <div class="hour">
                    <h4><%= @event.happen_at.hour %>h</h4>
                  </div>
                  <div class="min">
                    <h4><%= @event.happen_at.min %></h4>
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="eventdescription">
                <div class="col-xs-12 ">
                <h5> Descriptif de l'évènement:</h5>
                </div>
                <div class="col-xs-12 ">
                <p><%= @event.description %></p>
                </div>
              </div>
              <div class="food">
                <div class="col-xs-12">
                  <i class="fa fa-coffee fa-1x" aria-hidden="true"></i>  <i class="fa fa-cutlery fa-1x" aria-hidden="true"></i>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta inventore voluptatum autem tempora sit cupiditate quae est, fuga saepe laboriosam beatae earum odit, blanditiis reprehenderit, enim quam natus, nulla corrupti.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="menu_show">
                <% if current_user != @event.user %>
                  <% if @no_participation_yet %>
                    <%= link_to 'Send interest', event_participations_path(@event, @participation, participation: {status: :interested}), method: :post, class: "btn btn-primary"%>
                  <% elsif @participation_demand %>
                    <%= link_to 'cancel participation', participation_path(@participation), method: :delete, class: "btn btn-primary" %>
                  <% else %>
                    <%= link_to 'Send interest', participation_path(@participation, participation: {status: :interested}), method: :patch, class: "btn btn-primary" %>
                  <% end %>
                <% end %>
                <% if current_user == @event.user %>
                    <% if @event.canceled_at %>
                      <%= link_to 'Re-launch event', event_path(@event, event: {canceled_at: :nil}), method: :patch, class: "btn-confirm" %>
                    <% else %>
                      <%= link_to event_path(@event), method: :delete do %>
                      <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                      <% end %>
                      <%= link_to edit_event_path(@event) do %>
                      <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                      <% end %>
                    <% end %>
                  <%= link_to myevents_events_path(@event) do %>
                  <i class="fa fa-list-ul fa-lg" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to myevents_events_path(@event) do %>
                  <i class="fa fa-calendar-o fa-lg" aria-hidden="true"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="testgrid2">
           <img class="google_map" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @event.address %>&zoom=12&scale=2false&size=300x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C<%= @event.address %>&key=<%= ENV['GOOGLE_API_KEY'] %>">
           <p class="text-center"><%= @event.address %></p>
      </div>
      <div class="testgrid3">
        <% if @event.participations.empty? %>
          <div class="empty-message">
          <h4 class="text-center"> Soyez le premier à envoyer votre participation! </h4>
        </div>
      <% else %>
        <div class="scrollmenu" >
          <div class="item" >
            <ul class="list-inline">
              <% @event.participations.each do |participation| %>
              <li>
                <div class="mini-card-user ">
                  <div class="top_of_card">
                    <%= link_to "", user_path(participation.user), class: "card-link" %>
                    </div>
                    <div class="badg-container">
                      <div class="image-container">
                        <div><%= cl_image_tag participation.user.facebook_picture_url, class: "avatar-xl avatar-show img-badg" %>
                        </div>
                        <% if participation.status == "interested" %>
                          <div class="badg badg-blue "> </div>
                          <div class="border-blue"></div>
                        <% elsif participation.status == "confirmed" %>
                          <div class="badg badg-green"> </div>
                          <div class="border-green"></div>
                        <% elsif participation.status == "declined" %>
                          <div class="badg badg-red"> </div>
                          <div class="border-red"></div>
                        <% else %>
                          <div class="badg badg-bordered">?</div>
                        <% end %>
                      </div>
                    </div>
                    <div class="user-infos">
                      <p><%= participation.user.firstname %></p>
                      <p><%= participation.user.gender %></p>
                      <p><%= participation.user.age %></p>
                      <p><%= participation.status %></p>
                    </div>


                      <div class="user-selection">
                        <% if current_user == @event.user && @event.canceled_at == nil %>
                          <% if participation.status == "confirmed" %>
                            <%= link_to participation_path(participation, participation: {status: :declined}), method: :patch do  %>
                            <i class="fa fa-times-circle fa-2x" style="color: #f35d5e" aria-hidden="true"></i>
                            <% end %>
                          <% else %>
                          <% if @count_of_confirmed < @event.participant_number %>
                            <%= link_to participation_path(participation, participation: {status: :confirmed}), method: :patch do  %>
                            <i class="fa fa-check-circle fa-2x" style="color: #18b798" aria-hidden="true"></i>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>

                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      </div>
      <div class="testgrid4">
        <div class="mcs-horizontal-example">
          <div class="item" >
            <ul class="list-inline">
              <% if @event.photos? %>
                <% @event.photos.each do |photo|%>
                  <li>
                    <%= cl_image_tag photo.path, width: 145, height: 145, crop: :fill, class: "img-thumbnail"  %>
                  <% end %>
                  </li>
                <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="testgrid5 text-center">
        <div class="col-xs-6 col-sm-12 remaining_places">
          <h1><%= @event.participant_number - @count_of_confirmed %>
          <i class="fa fa-user fa-lg" aria-hidden="true"></i></h1>
          <h4>restantes</h4>
        </div>
        <div class="col-xs-6 col-sm-12 count_of_confirmed" >
          <h6><%= @count_of_confirmed%>
          <i class="fa fa-user fa-lg" aria-hidden="true"></i></h6>
          <p>confirmées</p>
        </div>
        <div class="col-xs-6 col-sm-12 count_of_interested">
          <h6><%= @count_of_interested %>
            <i class="fa fa-user fa-lg" aria-hidden="true"></i></h6>
            <p>interessées</p>
        </div>
        <% if @count_of_confirmed == @event.participant_number %>
        <h4> Nombre maximum atteint </h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
